*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    font-size: 13px;
}
#container{
    width:580px;
    margin:0 auto;
    text-align: center;
}
h1#logo{
    width: 284px;
    height: 95px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/c/c7/GoogleLogoSept12015.png") top left no-repeat;
    background-size: 100%;
    text-indent: -99999px;
    margin: 0 auto;
    margin-top: 130;
}

input[type="text"] {
    background-image: url('magnify.png');
    background-repeat: no-repeat;
    background-position: left;
    width: 580px;
    padding: 9px;
    padding-left: 45px;
    height: 46px;
    margin: 25px 0 10px;
    border:solid 1px #ccc;
    font-size:16px;
    border-radius: 25px;
    outline: none;
}
input[type="text"]:hover {
    border-color: #aaa;
    box-shadow: 5px 5px 5px 5px #ccc;
}
input[type="text"]:focus {
    border: solid 1px #ccc;
}
input[type="submit"] {
    background: #eee;
    color: #696969;
    width: 132px;
    padding: 9px;
    margin:25px 8px 10px 0;
    border:solid 0px #ddd;
    font-size:14px;
    font-family: Open Sans, sans-serif;
    font-weight: normal; 
    border:solid 0.5px #ddd;
    border-radius: 3px;
}
input[type="submit"]:hover {
    border-color: black;
    border-style: solid;
    cursor: pointer;
    color: black;
}
small {
    margin: 0 auto;
    font-size: 12px;
}
a:link, a:visited {
    color: inherit;
    text-decoration: none;
}
nav#header{
    text-align:right;
    padding: 5px;
}
nav#header ul li{
    display:inline;    
}

.iets {
    color: #555;
    padding:11px;
}
nav#header ul li a:hover,
footer nav ul li a:hover{
    text-decoration:underline
} 
footer{
    background: #eee;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-bottom: 16px;
    font-size: 15px;
    border-top: solid;
    border-width: thin;
    border-color: #D0D0D0;
}
footer nav{
    padding: 0px;
    border-top:solid 1px #ccc;
}
nav {
    display: inline;
}

.right-links span a {
    float: right;
    padding-right: 30px;
    font-size: 13px;
    padding-top: 5px;
    color: inherit;
    text-decoration: none;
}
.left-links span a {
    float: left;
    padding-left: 30px;
    font-size: 13px;
    padding-top: 5px;
    color: inherit;
    text-decoration: none;
}
.clearfix:after{
    content:"";
    display:table;
    clear:both;
    
}
.shy {
    border-radius: 25px;
    height: 20px; 
    width: 20px;
}
.ned {
    padding-left: 30px;
    color: inherit;
}
.search{

    z-index: 10;
}